* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sideBar {
  width: 200px;
  height: 100%;
  background: black;
  padding: 20px;
  display: none;
}
.sideBar ul li{
    list-style: none;
    margin-top: 10px;
    width: 100%;
    background: #2e583d;
    padding: 5px 0;
    border-radius: 4px;
  }
.sideBar ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}
.sideBar ul li .active{
    color: #29ff1c;
  }

  @media (width >= 500px) {
  .sideBar{
    display: block;
  }
}